<section id="recipe-detail-content" *ngIf="recipe; else noRecipe">
  <mcb-detail-header
    [title]="recipe.name"
    [state]="detailState"
    (eventEdit)="editRecipe()"
    (eventView)="viewRecipe()"
    (eventDelete)="deleteRecipe()"
    (eventSave)="saveRecipe()">
      <button class="btn btn-outline-primary btn-custom" (click)="toShoppingList()"> Create shopping list </button>
      <hr separator class="clearfix">
  </mcb-detail-header>
  <main class="recipe-detail-content-body" [class.view]="view"  [class.edit]="edit">
    <mcb-recipe-detail-view *ngIf="view"></mcb-recipe-detail-view>
    <mcb-recipe-detail-form *ngIf="edit"></mcb-recipe-detail-form>
  </main>
</section>

<ng-template #noRecipe>
  <section id="recipe-detail-content">
    <h6>No recipe selected</h6>
  </section>
</ng-template>


