<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li class="line-through">Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li class="line-through">Output them beneath each other in the AppComponent</li>
        <li class="line-through">Output a warning or success message in the Components</li>
        <li class="line-through">Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12"><h3>ALERTS</h3></div>
    <div class="col">
      <app-succes-alert message="This is a succes!!"></app-succes-alert>
    </div>
    <div class="col">
      <app-warning-alert message="This is a warning!!"></app-warning-alert>
    </div>
  </div>
</div>
